---
title: Contact FAQ
keywords: contacts, information, faq, developers
category: basics
url: contact.html
---
<!doctype html>
<html lang="en">

<head>

  <title>Contact & FAQ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/headers_footer/favicon.ico" type="image/x-icon">

</head>

<body class="palette-navy">

  <div id="page" class="site">
    
    {% include header.html pre_link=" " %}

    <main id="content" class="site-content">
      <article class="post post-full">
        <header class="post-header has-gradient outer">

          <div class="bg-img" style="background-image: url('images/headers_footer/fig_header.png')"></div>

          <div class="inner-sm">
            <h1 id="title" class="post-title">Contact & FAQ</h1>


          </div>
        </header>
        <div class="inner-md outer">
          <div class="post-content">
            <h2 id="contact">Contact:</h2>
            <ul>
              <li>Kristofer Döös (doos-at-misu.su.se)</li>
              <li>Aitor Aldama Campino</li>
              <li>Joakim Kjellsson</li>
              <li>Bror Jönsson</li>
              <li>Sara Berglund</li>
            </ul>

            <hr />
            <h3 id="faq">FAQ</h3>

          </div>
        </div><!-- .inner-md -->
      </article><!-- .post -->

    </main><!-- .site-content -->
    
    {% include footer.html %}

  </div><!-- .site -->

</body>

</html>