---
---
<!doctype html>
<html lang="en">

<head>
  <title>TRACMASS' documentation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
</head>

<body class="palette-navy">

  <div id="page" class="site">

    {% include header.html pre_link=" " %}

    <main id="content" class="site-content">
      <div class="inner outer">
        <div class="docs-content">

          <nav id="docs-nav" class="docs-nav">
            <div id="docs-nav-inside" class="docs-nav-inside sticky">

              <button id="docs-nav-toggle" class="docs-nav-toggle">Navigate Docs<span class="icon-angle-right"
                  aria-hidden="true"></span></button>
              <div class="docs-nav-menu">

                <ul id="docs-menu" class="docs-menu">
                  <li class="docs-menu-item current">
                    <a href="docs.html">Welcome to TRACMASS' documentation</a>
                  </li>

                  <li class="docs-menu-item">
                    <a href="docs/about/index.html">About</a>
                  </li>
                  
                  <li class="docs-menu-item has-children">
                    <a href="docs/configuration/index.html">Configuration</a>

                    <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
                        class="icon-angle-right" aria-hidden="true"></span></button>

                    <ul class="docs-submenu">

                      <li class="docs-menu-item">
                        <a href="docs/configuration/installation/index.html">Installation</a>
                      </li>

                      <li class="docs-menu-item">
                        <a href="docs/configuration/quick-start.html">How to set an experiment</a>
                      </li>

                    </ul>
                  </li>








                  <li class="docs-menu-item has-children">
                    <a href="docs/components/index.html">TRACMASS Components</a>


                    <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
                        class="icon-angle-right" aria-hidden="true"></span></button>




                    <ul class="docs-submenu">

                      <li class="docs-menu-item">
                        <a href="docs/components/main_program/index.html">Main program</a>
                      </li>

                      <li class="docs-menu-item">
                        <a href="docs/components/main_modules/index.html">Main modules</a>
                      </li>

                      <li class="docs-menu-item">
                        <a href="docs/components/namelist/index.html">
                          <p>Namelist</p>
                        </a>
                      </li>

                      <li class="docs-menu-item">
                        <a href="docs/components/project/index.html">
                          <p>The <em>Projects </em>folder</p>
                        </a>
                      </li>

                    </ul>


                  </li>








                  <li class="docs-menu-item">
                    <a href="docs/output/index.html">TRACMASS output</a>


                  </li>








                  <li class="docs-menu-item has-children">
                    <a href="docs/tools/index.html">Tools</a>


                    <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
                        class="icon-angle-right" aria-hidden="true"></span></button>




                    <ul class="docs-submenu">

                      <li class="docs-menu-item">
                        <a href="docs/tools/insitu/index.html"><em>In situ</em> postprocessing</a>
                      </li>

                      <li class="docs-menu-item">
                        <a href="docs/tools/pytraj/index.html">pyTRAJ</a>
                      </li>

                    </ul>


                  </li>








                  <li class="docs-menu-item">
                    <a href="docs/references/index.html">References</a>


                  </li>

                </ul><!-- .docs-menu -->
              </div><!-- .docs-nav-menu -->
            </div><!-- .docs-nav-inside -->
          </nav><!-- .docs-nav -->

          <article class="post type-docs">
            <div class="post-inside">
              <header class="post-header">
                <h1 class="post-title line-left">Welcome to TRACMASS' documentation</h1>
              </header><!-- .post-header -->
              <div class="post-content">
                <p><strong>TRACMASS</strong> is a Lagrangian trajectory code for ocean and atmospheric general
                  circulation models. The code makes it possible to estimate water paths, Lagrangian stream functions
                  (barotropic, overturning, etc.), exchange times, etc. <strong>TRACMASS</strong> has been used in
                  studies of the global ocean circulation, of sea circulation in the Baltic Sea, the Mediterranean Sea
                  and in coastal regions.</p>

                <p>The code is written in FORTRAN 90 with modules and runs on UNIX platforms such as MAC OS X and Linux.
                </p>

                <p>TRACMASS has been set up to run with velocities integrated with models such as NEMO or IFS-ECMWF, of
                  satellite datasets such as AVISO.</p>

                <style>
                  .button {
                    display: inline-block;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #002596;
                    border-radius: 6px;
                    outline: none;
                  }
                </style>

                <hr />
                <h1 id="whats-new-in-version-70">What’s new in version 2022.01</h1>
                <p>The current version of <strong>TRACMASS</strong> (v2022.01) includes the following new features:</p>

                <ul>
                  <li>The code has been thoroughly cleaned up</li>
                  <li>
                    <p>Supported test cases from:</p>

                    <table>
                      <tbody>
                        <tr>
                          <td>Ocean circulation models:</td>
                          <td><strong>NEMO, MOM5, ROMS</strong></td>
                        </tr>
                        <tr>
                          <td>Satellite ocean current data</td>
                          <td><strong>AVISO</strong></td>
                        </tr>
                        <tr>
                          <td>Atmospheric circulation model data</td>
                          <td><strong>IFS</strong> (ERA-Interim, EC-Earth)</td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                  <li>Any tracer can be followed e.g. biogeochemical tracers or chemical compounds in the atmosphere.
                  </li>
                  <li>A new quick-start guide and a comprehensive documentation.</li>
                </ul>

                <hr />

                <div class="note">
                  <strong>Note:</strong> <br />
                  You can find previous versions of <strong>TRACMASS</strong> here:<br />
                  <br />
                  <center>
                    <a class="button" style="background-color: #004C94;"
                      href="https://github.com/TRACMAS/Tracmass_previous">Get older version here</a>
                  </center>
                  <br />
                  <strong> Cite this version as:</strong> <br />
                  Jönsson, B., K. Döös, and J. Kjellsson (2015), TRACMASS: Lagrangian trajectory code,
                  doi:10.5281/zenodo.34157
                  <br />
                  <br />
                  <strong> Reference paper:</strong> <br />
                  Döös, K., B. Jönsson, and J. Kjellsson (2017), Evaluation of oceanic and atmospheric trajectory
                  schemes in the TRACMASS trajectory model v6.0, Geoscientific Model Development, 10(4), 1733--1749,
                  10.5194/gmd-10-1733-2017.
                  <a href="https://gmd.copernicus.org/articles/10/1733/2017/">Link</a>

                </div>




              </div><!-- .post-content -->
            </div><!-- .post-inside -->
          </article><!-- .post -->
          <nav id="page-nav" class="page-nav">
            <div id="page-nav-inside" class="page-nav-inside sticky">
              <h2 class="page-nav-title">Jump to Section</h2>
              <div id="page-nav-link-container"></div>
            </div><!-- .page-nav-inside -->
          </nav><!-- .page-nav -->
        </div><!-- .docs-content -->
      </div><!-- .inner-->

    </main><!-- .site-content -->

    {% include footer.html %}

  </div><!-- .site -->

  <!-- Scripts -->
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/page-load.js"></script>
</body>

</html>