---
title: TRACMASS Examples
keywords: videos, NEMO, AVISO, IFS, examples, ROMS
category: basics
---
<!doctype html>
<html lang="en">

<head>

  <title>Example Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/headers_footer/favicon.ico" type="image/x-icon">

</head>

<body class="palette-navy">

  {% include header.html pre_link=" " %}

  <main id="content" class="site-content">
    <section id="hero" class="block block-hero has-gradient outer">
      <div class="bg-img" style="background-image: url('images/headers_footer/fig_header.png')"></div>
      <div class="inner-sm">
        
        <div class="block-header">
          <h1 class="block-title">Example gallery</h1>
        </div>

        <div class="block-content">
          <p>Video and Image galleries of different results computed with <strong>TRACMASS</strong></p>
        </div>

      </div>
    </section><!-- .block -->

    <section id="lorem-ipsum" class="block block-grid outer has-header">
      <div class="inner">
        <div class="block-header inner-sm">

          <h2 class="block-title">Video Gallery</h2>

          <p class="block-subtitle">Some trajectory examples computed using TRACMASS</p>

        </div>

        <div class="block-content">
          <div class="grid grid-col-2">
            
            <div class="grid-item">
              <div class="grid-item-inside">

                <h3 class="grid-item-title line-left">
                  Conveyor belt
                </h3>

                <div class="grid-item-content">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/3-LI45Z6_qs" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
                </div>

              </div>
            </div>

            <div class="grid-item">
              <div class="grid-item-inside">

                <h3 class="grid-item-title line-left">
                  Particles in the Agulhas current system.
                </h3>

                <div class="grid-item-content">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/UOpxBc-bcds" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""></iframe>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- .block -->

    <section id="lorem-ipsum" class="block block-grid outer has-header">
      <div class="inner">
        <div class="block-header inner-sm">

          <h2 class="block-title">Image gallery</h2>

          <p class="block-subtitle">Includes examples of different TRACMASS features</p>

        </div>

        <div class="block-content">
          <div class="grid grid-col-2">

            <div class="grid-item">
              <div class="grid-item-inside">

                <div class="grid-item-image">
                  <img src="images/fig_theo_intro.png" alt="lorem-ipsum" />
                </div>

                <h3 class="grid-item-title line-left">
                  <a href="blog/theoretical.html">Theoretical case</a>
                </h3>

                <div class="grid-item-content">
                  <p>The theoretical is the default project of TRACMASS and describes the flow on a spatial
                    homogeneous and time dependent two dimensional velocity field.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="blog/theoretical.html" class="">See gallery</a>
                </div>

              </div>
            </div>

            <div class="grid-item">
              <div class="grid-item-inside">

                <div class="grid-item-image">
                  <img src="images/fig_aviso_intro.png" alt="lorem-ipsum" />
                </div>

                <h3 class="grid-item-title line-left">
                  <a href="blog/aviso.html">AVISO (satellite altimetry data)</a>
                </h3>

                <div class="grid-item-content">
                  <p>The AVISO data is stored on a Arakawa’s B-grid while TRACMASS is defined on a Arakawa’s C-grid.
                    Therefore, both zonal and meridional fluxes are computed interpolating the velocity fields on the
                    TRACMASS grid. This is done on the read_field subroutine.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="blog/aviso.html" class="">See gallery</a>
                </div>

              </div>
            </div>

            <div class="grid-item">
              <div class="grid-item-inside">

                <div class="grid-item-image">
                  <img src="images/fig_nemo_intro.png" alt="lorem-ipsum" />
                </div>

                <h3 class="grid-item-title line-left">
                  <a href="blog/nemo.html">NEMO</a>
                </h3>

                <div class="grid-item-content">
                  <p>The NEMO data is defined on the same grid as the TRACMASS grid. Therefore, there is no need to
                    interpolate velocities or tracer on the TRACMASS grid.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="blog/nemo.html" class="">See gallery</a>
                </div>

              </div>
            </div>

            <div class="grid-item">
              <div class="grid-item-inside">

                <div class="grid-item-image">
                  <img src="images/fig_roms_intro.png" alt="lorem-ipsum" />
                </div>

                <h3 class="grid-item-title line-left">
                  <a href="blog/roms.html">ROMS</a>
                </h3>

                <div class="grid-item-content">
                  <p>The ROMS data is defined on the same grid as the TRACMASS grid. Therefore, there is no need to
                    interpolate velocities or tracer on the TRACMASS grid. However, ghosts u and v points are defined
                    around the frame to adjust to the TRACMASS grid.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="blog/roms.html" class="">See gallery</a>
                </div>

              </div>
            </div>

            <div class="grid-item">
              <div class="grid-item-inside">

                <div class="grid-item-image">
                  <img src="images/fig_ifs_intro.png" alt="lorem-ipsum" />
                </div>

                <h3 class="grid-item-title line-left">
                  <a href="blog/ifs.html">IFS-ECMWF</a>
                </h3>

                <div class="grid-item-content">
                  <p>The IFS data is stored on a Arakawa’s A-grid while TRACMASS is defined on a Arakawa’s C-grid.
                    Therefore, both zonal and meridional fluxes are computed interpolating the velocity fields on the
                    TRACMASS grid. This is done on the read_field subroutine.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="blog/ifs.html" class="">See gallery</a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- .block -->



  </main><!-- .site-content -->
  
  {% include footer.html %}

  </div><!-- .site -->

</body>

</html>