---
title: Homepage
keywords: about
category: basics
---
<!doctype html>
<html lang="en">

<head>
  <title>TRACMASS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="title" property="og:title" content="TRACMASS Lagrangian trajectory code" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.tracmass.org/index.html" />
  <meta name="image" property="og:image" content="https://www.tracmass.org/images/headers_footer/fig_socialimage.png" />
  <meta name="description" property="og:description"
    content="TRACMASS is a Lagrangian trajectory code for ocean and atmospheric general circulation models. The code makes it possible to estimate water paths, Lagrangian stream functions (barotropic, overturning, etc.), exchange times, etc.">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/headers_footer/favicon.ico" type="image/x-icon">
</head>

<body class="palette-navy">

  {% include header.html pre_link=" " %}

  <main id="content" class="site-content">

    <!-- PAGE TITLE AREA -->
    <section id="TRACMASS intro" class="block block-hero has-gradient outer">

      <div class="bg-img" style="background-image: url('images/headers_footer/fig_header.png')"></div>

      <div class="inner-sm">

        <div class="block-header">
          <h1 class="block-title">TRACMASS</h1>
        </div>

        <div class="block-content">
          <p><strong>TRACMASS</strong> is a Lagrangian trajectory code for ocean and atmospheric general circulation
            models. The code makes it possible to estimate water paths, Lagrangian stream functions (barotropic,
            overturning, etc.), exchange times, etc.</p>
        </div>

        <div class="block-buttons">
          <a href="https://github.com/TRACMASS/tracmass" class="button">Get code</a>
        </div>

      </div>
    </section>

    <section id="features" class="block block-grid outer">
      <div class="inner">
        <div class="block-content">
          <div class="grid grid-col-3">

            <!-- DOCUMENTATION -->
            <div class="grid-item">
              <div class="grid-item-inside">

                <h3 class="grid-item-title line-left">
                  Documentation
                </h3>

                <div class="grid-item-content">
                  <p>Learn about:</p>
                  <ul>
                    <li>how to set up <strong>TRACMASS</strong>.</li>
                    <li>how to design your own experiment.</li>
                    <li>how the different components of <strong>TRACMASS</strong> work.</li>
                    <li>how to postprocess your <strong>TRACMASS</strong> output data.</li>
                  </ul>
                </div>

                <div class="grid-item-buttons">
                  <a href="docs.html" class="">Get Started</a>
                </div>

              </div>
            </div>

            <!-- EXAMPLES -->
            <div class="grid-item">
              <div class="grid-item-inside">

                <h3 class="grid-item-title line-left">
                  Examples
                </h3>

                <div class="grid-item-content">
                  <p>Check our gallery with different <strong>TRACMASS</strong> results for different datasets and
                    examples on how the <strong>TRACMASS</strong> features work.</p>
                </div>

                <div class="grid-item-buttons">
                  <a href="examples.html" class="">View Gallery</a>
                </div>

              </div>
            </div>

            <!-- CONTACT & FAQ -->
            <div class="grid-item">
              <div class="grid-item-inside">

                <h3 class="grid-item-title line-left">
                  Contact & FAQ
                </h3>

                <div class="grid-item-content">
                  <p>Check our FAQ and contact information in case you have any problem or comment about
                    <strong>TRACMASS</strong>
                  </p>
                </div>

                <div class="grid-item-buttons">
                  <a href="contact.html" class="">Learn More</a>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- .block -->

    <!-- QUICKSTART GUIDE -->
    <section id="quickstart" class="block block-text outer">
      <div class="inner">
        <div class="grid grid-middle grid-center">

          <div class="grid-item block-image">
            <img src="images/headers_footer/fig_sketch.png" alt="" />
          </div>

          <div class="grid-item block-body">

            <div class="block-header">
              <h2 class="block-title">Quickstart</h2>
            </div>

            <div class="block-content">
              <p>1. - Download the code:</p>

              <div class="highlighter-rouge">
                <div class="highlight">
                  <pre class="highlight"><code>git clone https://github.com/TRACMASS/Tracmass.git </code></pre>
                </div>
              </div>

              <p>2. - Modify the <em>Makefile</em> to fit your system. </p>

              <p>3. - Then you can run the make command: </p>

              <div class="highlighter-rouge">
                <div class="highlight">
                  <pre class="highlight"><code>make </code></pre>
                </div>
              </div>

              <p>4. - Run <strong>TRACMASS</strong> by typing: </p>

              <div class="highlighter-rouge">
                <div class="highlight">
                  <pre class="highlight"><code>./runtracmass</code> </pre>
                </div>
              </div>
            </div>

            <div class="block-buttons">
              <a href="docs/configuration/quick-start.html" class="button">View Documentation</a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- CITE AS -->
    <section id="citation" class="block block-cta outer">
      <div class="inner">
        <div class="has-gradient">
          <div class="grid grid-middle grid-center">

            <div class="grid-item block-header">
              <h2 class="block-title">Cite as:</h2>

              <p class="block-subtitle">Cite as Aldama-Campino, Aitor, Döös, Kristofer, Kjellsson, Joakim, & Jönsson,
                Bror. (2020, December 17). TRACMASS: Formal release of version 7.0 (Version v7.0-beta). Zenodo.
                http://doi.org/10.5281/zenodo.4337926</p>
            </div>

            <div class="grid-item block-buttons">
              <a href="https://zenodo.org/record/4337926" class="button button-secondary">Link to Zenodo</a>
            </div>

          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Hold the .js scripts as well-->
  {% include footer.html %}

</body>

</html>