<nav id="docs-nav" class="docs-nav">
  <div id="docs-nav-inside" class="docs-nav-inside sticky">

    <button id="docs-nav-toggle" class="docs-nav-toggle">Navigate Docs<span class="icon-angle-right"
        aria-hidden="true"></span></button>
    <div class="docs-nav-menu">
      
      <!-- Here the navigation part starts-->
      <ul id="docs-menu" class="docs-menu">
        
        <!-- Welcome to TRACMASS' documentation -->
        <li class="docs-menu-item {%if page.url contains 'docs.html' %} current active {% endif %}">
          <a href="{{include.pre_link}}../../docs.html">Welcome to TRACMASS' documentation</a>
        </li>
        
        <!-- About -->
        <li class="docs-menu-item {%if page.url contains 'about' %} current active {% endif %}">
          <a href="{{include.pre_link}}../about/index.html">About</a>
        </li>

        <!-- Configuration (submenu) -->
        <li class="docs-menu-item
                   {%if page.url contains 'configuration' %} current active {% endif %}
                   has-children">
          <a href="{{include.pre_link}}../configuration/index.html">Configuration</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">
            <!-- Installation -->
            <li class="docs-menu-item {%if page.url contains 'installation' %} current active {% endif %}">
              <a href="{{include.pre_link}}../configuration/installation/index.html">Installation and Theoretical Run</a>
            </li>

            <!-- How to set up an experiment -->
            <li class="docs-menu-item {%if page.url contains 'quick-start' %} current active {% endif %}">
              <a href="{{include.pre_link}}../configuration/quick-start/index.html">How to set up an experiment</a>
            </li>

          </ul>
        </li>

        <!-- TRACMASS Components (submenu) -->
        <li class="docs-menu-item
                   {%if page.url contains 'components' %} current active {% endif %}
                   has-children">
          <a href="{{include.pre_link}}../components/index.html">TRACMASS Components</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">

            <!-- Main Program -->
            <li class="docs-menu-item {%if page.url contains 'main_program' %} current active {% endif %}">
              <a href="{{include.pre_link}}../components/main_program/index.html">Main program</a>
            </li>

            <!-- Main modules -->
            <li class="docs-menu-item {%if page.url contains 'main_modules' %} current active {% endif %}">
              <a href="{{include.pre_link}}../components/main_modules/index.html">Main modules</a>
            </li>

            <!-- Namelist -->
            <li class="docs-menu-item {%if page.url contains 'namelist' %} current active {% endif %}">
              <a href="{{include.pre_link}}../components/namelist/index.html">Namelist</a>
            </li>

            <!-- The projects folder -->
            <li class="docs-menu-item {%if page.url contains 'project' %} current active {% endif %}">
              <a href="{{include.pre_link}}../components/project/index.html">The <em>Projects </em>folder</a>
            </li>

          </ul>
        </li>

        

        <!-- TRACMASS output -->
        <li class="docs-menu-item {%if page.url contains 'output' %} current active {% endif %}">
          <a href="{{include.pre_link}}../output/index.html">TRACMASS output</a>
        </li>

        <!-- Tools (Submenu) -->
        <li class="docs-menu-item 
                   {%if page.url contains 'tools' %} current active {% endif %}
                   has-children">
          <a href="{{include.pre_link}}../tools/index.html">Tools</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">

            <!-- In situ postprocessing -->
            <li class="docs-menu-item {%if page.url contains 'insitu' %} current active {% endif %}">
              <a href="{{include.pre_link}}../tools/insitu/index.html"><em>In situ</em> postprocessing</a>
            </li>

            <!-- pyTRAJ -->
            <li class="docs-menu-item {%if page.url contains 'pytraj' %} current active {% endif %}">
              <a href="{{include.pre_link}}../tools/pytraj/index.html">pyTRAJ</a>
            </li>

          </ul>
        </li>

        <!-- References -->
        <li class="docs-menu-item {%if page.url contains 'references' %} current active {% endif %}">
          <a href="{{include.pre_link}}../references/index.html">References</a>
        </li>

      </ul><!-- .docs-menu -->
    </div><!-- .docs-nav-menu -->
  </div><!-- .docs-nav-inside -->
</nav><!-- .docs-nav -->