<nav id="docs-nav" class="docs-nav">
  <div id="docs-nav-inside" class="docs-nav-inside sticky">
    <button id="docs-nav-toggle" class="docs-nav-toggle">Navigate Docs<span class="icon-angle-right"
        aria-hidden="true"></span></button>
    <div class="docs-nav-menu">

      <ul id="docs-menu" class="docs-menu">
        <li class="docs-menu-item">
          <a href="{{include.pre_link}}../../docs.html">Welcome to TRACMASS' documentation</a>
        </li>

        <li class="docs-menu-item current active">
          <a href="{{include.pre_link}}index.html">About</a>
        </li>

        <li class="docs-menu-item has-children">
          <a href="{{include.pre_link}}../configuration/index.html">Configuration</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">
            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../configuration/installation/index.html">Installation</a>
            </li>

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../configuration/quick-start/index.html">How to set an experiment</a>
            </li>

          </ul>
        </li>

        <li class="docs-menu-item has-children">
          <a href="{{include.pre_link}}../components/index.html">TRACMASS Components</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../components/main_program/index.html">Main program</a>
            </li>

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../components/main_modules/index.html">Main modules</a>
            </li>

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../components/namelist/index.html">
                <p>Namelist</p>
              </a>
            </li>

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../components/project/index.html">
                <p>The <em>Projects </em>folder</p>
              </a>
            </li>

          </ul>
        </li>

        <li class="docs-menu-item">
          <a href="{{include.pre_link}}../output/index.html">TRACMASS output</a>
        </li>

        <li class="docs-menu-item has-children">
          <a href="{{include.pre_link}}../tools/index.html">Tools</a>

          <button class="docs-submenu-toggle"><span class="screen-reader-text">Submenu</span><span
              class="icon-angle-right" aria-hidden="true"></span></button>

          <ul class="docs-submenu">
            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../tools/insitu/index.html"><em>In situ</em> postprocessing</a>
            </li>

            <li class="docs-menu-item">
              <a href="{{include.pre_link}}../tools/pytraj/index.html">pyTRAJ</a>
            </li>

          </ul>
        </li>

        <li class="docs-menu-item">
          <a href="{{include.pre_link}}../references/index.html">References</a>
        </li>

      </ul><!-- .docs-menu -->
    </div><!-- .docs-nav-menu -->
  </div><!-- .docs-nav-inside -->
</nav><!-- .docs-nav -->