---
---
<!doctype html>
<html lang="en">

<head>

  <title>AVISO (satellite altimetry data)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="shortcut icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">

</head>

<body class="palette-navy">

  <div id="page" class="site">
    
    {% include header.html pre_link="../" %}

    <main id="content" class="site-content">
      <article class="post post-full">
        <header class="post-header has-gradient outer">


          <div class="bg-img" style="background-image: url('../images/headers_footer/fig_header.png')"></div>

          <div class="inner-sm">
            <div class="post-meta">
              <time class="published" datetime=""></time>
            </div>
            <h1 class="post-title">AVISO (satellite altimetry data)</h1>


            <div class="post-subtitle">
              2D datasets
            </div>

          </div>
        </header>
        <div class="inner-md outer">
          <div class="post-content">
            <p>The AVISO data is stored on a Arakawa’s B-grid while TRACMASS is defined on a Arakawa’s C-grid.
              Therefore, both zonal and meridional fluxes are computed interpolating the velocity fields on the TRACMASS
              grid. This is done on the <strong>read_field</strong> subroutine. The default setup of this project
              initialises trajectories south of the Mozambique Channel only for southward fluxes (marked in red in the
              figure). The seeding takes place every day and ten trajectories are initialised in the location.</p>

            <p align="center">
              <img width="100%" src="../images/fig_aviso_1.png" />
            </p>

            <hr />
            <h3 id="tracmass-features-killing-zones-exittype1">TRACMASS features: killing zones (<em>exitType==1</em>)
            </h3>
            <p>Four killing zones have been imposed to this run: two zonal boundaries at each side of the southern tip
              of Africa, and two meridional boundaries (see figure below). By doing so, we can filter trajectories based
              on which boundary they are terminated. This information is stored in the <em>_rerun.csv</em> file. Please
              remember that <strong>nend</strong> = 0 is reserved to trajectories which have exceeded the time limit and
              <strong>nend</strong> = 1 is reserved to those trajectories that reach the surface.</p>

            <p align="center">
              <img width="100%" src="../images/fig_aviso_2.png" />
            </p>

            <hr />
            <h3 id="tracmass-features-stream-functions-i-psixy---barotropic">TRACMASS features: stream functions I
              (<em>psixy</em> - barotropic)</h3>
            <p>If stream function calculation (<strong>l_psi</strong>) is activated, a stream function will be
              calculated to each of the killing zones. This way one is able to separate the total lagrangian barotropic
              stream function into the different components depending of the killing zone. All the stream functions
              showed in the figure below are computed offline and with <strong>dirpsi</strong> equal to one.</p>

            <p align="center">
              <img width="100%" src="../images/fig_aviso_3.png" />
            </p>

            <div class="note">
              <strong>Important:</strong> <br />
              The Lagrangian stream function may differ from the Eulerian stream function if the number of trajectories
              is not large enough.
            </div>

            <hr />
            <h3 id="tracmass-features-dzt-choice-for-2-d-simulations">TRACMASS features: <em>dzt</em> choice for 2-D
              simulations</h3>
            <p>The size of <strong>dzt</strong> in 2-D simulations (<strong>w_2dim</strong>) does not affect the
              calculation of trajectories in TRACMASS (see figure below). However, it will affect the volume/mass
              transport of the trajectories. Note that some trajectories may not be completely identical, but the mean
              paths are unaltered.</p>

            <p align="center">
              <img width="100%" src="../images/fig_aviso_4.png" />
            </p>

            <hr />

            <p align="center">
              <a style="text-decoration: none;inline-block;" href="theoretical.html"><img width="30px"
                  src="../images/headers_footer/fig_arrow_left.png" /> Previous gallery &nbsp; &nbsp; &nbsp; </a> <a
                style="display: inline-block;" href="../examples.html"><img width="30px"
                  src="../images/headers_footer/fig_house_symbol.png" /> <a style="text-decoration: none;inline-block;"
                  href="nemo.html"> &nbsp; &nbsp; &nbsp; Next gallery <img width="30px"
                    src="../images/headers_footer/fig_arrow_right.png" /> </a>
              </a>
            </p>

          </div><!-- .post-content -->
        </div><!-- .inner-md -->
      </article><!-- .post -->

    </main><!-- .site-content -->
    
    {% include footer.html %}

  </div><!-- .site -->

  <!-- Scripts -->
  <script src="../assets/js/plugins.js"></script>
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/page-load.js"></script>
</body>

</html>