---
title: IFS-ECMWF
keywords: 
category: examples
url: ifs.html
---
<!doctype html>
<html lang="en">

<head>

  <title>IFS-ECMWF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="shortcut icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">

</head>

<body class="palette-navy">

  <div id="page" class="site">
    
    {% include header.html pre_link="../" %}

    <main id="content" class="site-content">
      <article class="post post-full">
        <header class="post-header has-gradient outer">


          <div class="bg-img" style="background-image: url('../images/headers_footer/fig_header.png')"></div>

          <div class="inner-sm">
            <div class="post-meta">
              <time class="published" datetime=""></time>
            </div>
            <h1 class="post-title">IFS-ECMWF</h1>


            <div class="post-subtitle">
              3D datasets
            </div>

          </div>
        </header>
        <div class="inner-md outer">
          <div class="post-content">
            <p>The IFS data is stored on a Arakawa’s A-grid while TRACMASS is defined on a Arakawa’s C-grid. Therefore,
              both zonal and meridional fluxes are computed interpolating the velocity fields on the TRACMASS grid. This
              is done on the <strong>read_field</strong> subroutine. The default setup of this project initialises
              trajectories in an area that covers south Asia. The seeding takes place every six hours during a month.
            </p>

            <p align="center">
              <img width="60%" src="../images/fig_ifs_1.png" />
            </p>

            <hr />
            <h3 id="tracmass-features-seeding-trajectories-using-a-mask-maskfile">TRACMASS features: seeding
              trajectories using a mask (<em>maskFile</em>)</h3>
            <p>The seeding can be restricted using a mask file. The <strong>maskFile</strong> is only read if
              <strong>seedType=1</strong>, The seeding domain is described by the red rectangle in both figures below.
              If no mask is applied all grid points in the defined area can initialise a trajectory. The blue dots
              represent grid cells where trajectories are seeded. The figure on the right shows if a mask is applied to
              the seeding. The mask is given by the gray filled contour and the seeded trajectories are given in orange.
              As expected only trajectories that are within the mask and the seeding domain are initialised (note that
              the mask in this case is also defined outside the seeding domain).</p>

            <p align="center">
              <img width="100%" src="../images/fig_ifs_2.png" />
            </p>

            <hr />
            <h3 id="tracmass-features-flux--tracer-trajectories-l_swtraj">TRACMASS features: flux &amp; tracer
              trajectories (<em>l_swtraj</em>)</h3>
            <p>TRACMASS allows to compute a special case of trajectories that combine tracers and mass/volume fluxes.
              This option is useful to follow water trajectories in the atmosphere, or salt in the ocean. If
              <strong>l_swtraj</strong> TRUE, the mass/volume fluxes are multiplied by the tracer chosen in the first
              position. The figure below shows trajectory densities computed using the default setup of the project and
              a seeding mask. The figure on the left shows the trajectory density for the default case (air
              trajectories) while the figure on the right shows trajectories computed by multiplying the fluxes by
              humidity (water trajectories).</p>

            <p align="center">
              <img width="100%" src="../images/fig_ifs_3.png" />
            </p>

            <hr />

            <p align="center">
              <a style="text-decoration: none;inline-block;" href="roms.html"><img width="30px"
                  src="../images/headers_footer/fig_arrow_left.png" /> Previous gallery &nbsp; &nbsp; &nbsp; </a> <a
                style="display: inline-block;" href="../examples.html"><img width="30px"
                  src="../images/headers_footer/fig_house_symbol.png" />
              </a>
            </p>

          </div><!-- .post-content -->
        </div><!-- .inner-md -->
      </article><!-- .post -->

    </main><!-- .site-content -->
    
    {% include footer.html %}

  </div><!-- .site -->

</body>

</html>