---
title: ROMS Case Example
keywords: 
category: examples
url: roms.html
---
<!doctype html>
<html lang="en">

<head>

  <title>ROMS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="shortcut icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/headers_footer/favicon.ico" type="image/x-icon">

</head>

<body class="palette-navy">

  <div id="page" class="site">
    
    {% include header.html pre_link="../" %}

    <main id="content" class="site-content">
      <article class="post post-full">
        <header class="post-header has-gradient outer">


          <div class="bg-img" style="background-image: url('../images/headers_footer/fig_header.png')"></div>

          <div class="inner-sm">
            <div class="post-meta">
              <time class="published" datetime=""></time>
            </div>
            <h1 class="post-title">ROMS</h1>


            <div class="post-subtitle">
              3D datasets
            </div>

          </div>
        </header>
        <div class="inner-md outer">
          <div class="post-content">
            <p>The ROMS data is defined on the same grid as the TRACMASS grid. Therefore, there is no need to
              interpolate velocities or tracer on the TRACMASS grid. However, ghosts u and v points are defined around
              the frame to adjust to the TRACMASS grid. The default setup of this project initialises trajectories west
              of Sri Lanka only for northward fluxes (solid blue line). The seeding takes place every month (12 seeding
              steps) and one trajectory is initialised in the location. Trajectories are terminated when exiting the
              ROMS domain, the maximum time for trajectories is 100 years.</p>

            <p align="center">
              <img width="60%" src="../images/fig_roms_1.png" />
            </p>

            <hr />
            <h3 id="tracmass-features-onlineoffline-calculation-of-stream-functions-l_offline">TRACMASS features:
              online/offline calculation of stream functions (<em>l_offline</em>)</h3>
            <p>Stream functions can be calculated in two ways in TRACMASS either online
              (<strong>l_offline=FALSE</strong>), while trajectories are computed, or offline
              (<strong>l_offline=TRUE</strong>) as a part of the postprocessing of the results. The online case is the
              same regardless of the choice of <strong>write_frec</strong>. However, for the offline case the choice of
              <strong>write_frec</strong> is relevant. For low writing frequencies <strong>write_frec=1</strong> and
              <strong>write_frec=2</strong> the online calculation is less accurate. The figure below shows an example
              of different calculations of the barotropic stream function for different writing frequencies.</p>

            <p align="center">
              <img width="100%" src="../images/fig_roms_2.png" />
            </p>

            <div class="important">
              &#9888; <strong>Warning:</strong> <br />
              Offline calculation of stream functions may give a wrong result for <strong>write_frec=1</strong> and
              <strong>write_frec=2</strong>. For an accurate calculation of stream functions use
              <strong>write_frec=3</strong> or <strong>write_frec=4</strong> or an online calculation.
            </div>

            <hr />

            <p align="center">
              <a style="text-decoration: none;inline-block;" href="nemo.html"><img width="30px"
                  src="../images/headers_footer/fig_arrow_left.png" /> Previous gallery &nbsp; &nbsp; &nbsp; </a> <a
                style="display: inline-block;" href="../examples.html"><img width="30px"
                  src="../images/headers_footer/fig_house_symbol.png" /> <a style="text-decoration: none;inline-block;"
                  href="ifs.html"> &nbsp; &nbsp; &nbsp; Next gallery <img width="30px"
                    src="../images/headers_footer/fig_arrow_right.png" /> </a>
              </a>
            </p>

          </div><!-- .post-content -->
        </div><!-- .inner-md -->
      </article><!-- .post -->

    </main><!-- .site-content -->
    
    {% include footer.html %}

  </div><!-- .site -->

</body>

</html>